*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #eeee;
}

header{
    border-bottom: red solid 3px;
    background: linear-gradient(rgb(209, 209, 247), blue);
    margin-bottom: 75px;
    text-align: center;
    height: 100px;
    background-color: rgb(232, 232, 255);
}



section{
    padding: 20px;
    margin: auto;
    box-shadow: 3px 2px 8px rgb(201, 196, 196);
    background-color: rgb(255, 255, 255);
    width: 350px;
    height: 450px;
}

input{
    margin: auto;
    margin-top: 5px;
    border-radius: 10px;
    width: 305px;
    height:25px;
}

#inputres{
    margin-top: 20px;
    height: 40px;
}
#paragr{
    margin-top: 10px;
}

p{
    margin-top: 5px;
}


button{
    margin-top: 25px;
    border-radius: 10px;
    background-color: red;
    font-size: 20px;
    width: 150px;
    height: 50px;
    padding: 5px;
    font-weight: bold;
}



footer{
    border-top:rgb(255, 0, 0) solid 3px;  
    margin-top: 50px;
    height: 82px;
    background-color: rgb(0, 162, 255);
}

button:hover{
     color: white;
}

.pfooter{
    font-size: 20px;
    text-align: center;
}

